body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  background-image: url('../img/bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  margin: 0;
}

#videoContainer {
  position: relative;
  width: 100%;
}

#video, #canvas {
  width: 100%;
  display: block;
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

input, button {
  margin-top: 10px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
}

input {
  width: 100%;
}

button:hover {
  opacity: 0.9;
}

.hidden {
  display: none;
}

#options div {
  background-color: #1e88e5;
  color: white;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
}

#options div:hover {
  background-color: #1565c0;
}

.question {
  margin-bottom: 20px;
}

@media (max-width: 576px) {
  h1, h2, .lead {
    font-size: 1.2rem;
  }
}

